header {
background-color: rgb(255, 25, 0);
}

 body {
background-color: rgb(242, 242, 8);
}

.estudante-div {
    text-align: center;
    padding: 50px 0;
}

.estudante-titulo{
    text-align: center;
    padding: 16px 0;
}

.estudante-imagem {
    width: 45%;                                          /*cuidado com seu tamanho*/
}


 footer {
    background-color: rgb(255, 187, 0);
}